.wrapper {
    width: 1180px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -12px;
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
  }
  
  .wrapper .left_content {
    width: calc(100% - 440px);
    margin-right: 12px;
    padding-top: 12px;
  }
  